.accountant-header-wrapper {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  .accountant-header {
    padding: 1rem;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: rgb(49, 49, 49);
  }
}
