.base_container {
    background-color:#fff;
    width: 350px;
    height: 370px;
    box-shadow: 4px 4px 5px #9f9f9f;
    display: flex; 
    align-items: center;
    border: 0.5px  solid gainsboro ;
    margin: 0 auto;
    margin-top: 150px;
}
.registerlink{
    margin-top: -30px;
    margin-left: 5px;
}
.header {
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}
img{
    width: 150px;
    margin-top: -190px;
    margin-left: 100px;
    
}
.form_group{
    display: flex;
    flex-direction: column;
    margin-left:15px;
    
}
.label{
    margin-top: 4px;
    font-size: 18px;
}
.input{
    margin-top: 4px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #e0e0e0;
    border:0;
    margin-bottom: 31px;  
}

.footer{
    margin-top: 2em;
}
.btn{
    font-size: 21px;
    padding: 5px 20px;
    border: 0;
    background-color: #3498db;
    color: #fff;
    cursor: pointer; 
    margin-left:120px;
     
}
.btn .hover{
    background-color: #2386c8;
}
.btn .focus{
    outline:none;
}