.modal-container {
  display: flex;
  flex-direction: column;

  .modal-header {
    display: flex;
    align-items: flex-start;

    h3 {
      margin: 0 auto;
      padding: 0 auto;
    }
  }

  .booksList-wrapper {
    display: flex;
    justify-content: center;
    overflow-y: auto;
  }

  .modal-submitButton-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}
